.Game {
    position: absolute;

    width: 100vw;
    height: 100vh;
}

.Game .layer {
    position: absolute;

    width: 100vw;
    height: 100vh;

    z-index: -1;
}

p {
    background-color: rgba(1, 1, 1, 100)
}