:root {
	font-family: Arial, Helvetica, sans-serif;
	line-height: 1.5;
	font-weight: 400;
	font-size: 1.2rem;

	color: #fff;
	background-color: #222;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

body {
	margin: 0;
	display: flex;
	min-height: 100vh;
}

main {
	width: 800px;
	padding: 20px;
	margin: auto;
}

section {
	flex: 1;
	background-color: teal;
	border-radius: 5px;
	padding: 10px;
	margin: 10px;
}

section *:first-child {
	padding-bottom: 0px;
	margin-top: 0px;
}

main.mode_target {
	cursor: crosshair;
}

h1 {
	margin: 0px;
}

/**/

input[type="button"] {
	display: block;
	border: none;
	background: none;
	width: 100%;
	margin-top: 10px;
	padding: 5px 10px;
	outline: none;
	font-weight: bold;
	font-size: inherit;
	font-family: inherit;
	border: 2px solid white;
	background-color: rgba(0, 0, 0, 0.2);
}

input[type="button"]:focus {
	border: 2px solid white;
	background-color: rgba(0, 0, 0, 0.2);
}

.bar {
	border: 2px solid white;
	background-color: rgba(0, 0, 0, 0.2);
	text-align: center;
	font-weight: bold;
}

img {
	width: 450px;
	height: 200px;
}